DATABASE_URL="postgres://user:pass@localhost/db"
AUTH_SECRET="jwt-signing-secret"
PAYMENT_TOKEN="mercado-pago-token"
CONFIRM_LIMIT="2026-12-31T23:59:59Z"
API_KEY="admin-api-key"
GROUP_LIST=[
  {
    "name": "name",
    "code": "code",
    "password": "password",
    "users": ["users0", "users1"]
  }
]
